<div class="row">
  <div class="col-md-6">
    <div class="post">
      <img src='img/rails1.jpg'>
      <div class="post-content">
        <h3>Lorem Ipsum</h3>
        <small>Posted by Matt on October 24, 2014</small>
        <p>Proin sit amet lectus quis ex rutrum dictum vel ut purus. In placerat lacus a nisi imperdiet varius. Donec semper suscipit odio, hendrerit sollicitudin orci ullamcorper a. Integer ornare est sed velit consectetur, fringilla tempor urna auctor. Aliquam lobortis imperdiet leo eget tincidunt. Cras blandit dapibus urna, quis commodo eros semper ut. Fusce tempus odio non commodo faucibus. Nam mattis faucibus tellus, a cursus neque accumsan fringilla. Curabitur sagittis ex vel tincidunt fermentum. Cras congue augue non gravida varius. Maecenas tincidunt dapibus elit id vulputate. Integer fermentum in risus eu tincidunt. Phasellus metus libero, elementum non rhoncus at, condimentum sed est.</p>
        <a class="btn btn-primary btn-block">Read More</a>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="post">
      <img src='img/rails1.jpg'>
      <div class="post-content">
        <h3>Lorem Ipsum</h3>
        <small>Posted by Matt on October 24, 2014</small>
        <p>Praesent ut diam dolor. Nunc ornare id velit non sodales. Fusce volutpat ante ac interdum dignissim. Morbi id lorem dignissim libero egestas dignissim vel et ex. Donec interdum metus ipsum, a lobortis dui pharetra ut. Donec eleifend posuere nisl, sed vestibulum diam suscipit vitae. Nunc dignissim est eros, ac ornare felis sagittis vel. Nunc fringilla vestibulum volutpat. Vestibulum sagittis tempor mi, vel molestie elit interdum quis. Nulla non dignissim nibh. Suspendisse eget fringilla dolor. Sed in massa ultrices dui pellentesque consectetur sit amet ac tortor. Mauris sit amet cursus sem.</p>
        <a class="btn btn-primary btn-block">Read More</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="post">
      <img src='img/rails1.jpg'>
      <div class="post-content">
        <h3>Lorem Ipsum</h3>
        <small>Posted by Matt on October 24, 2014</small>
        <p>Proin sit amet lectus quis ex rutrum dictum vel ut purus. In placerat lacus a nisi imperdiet varius. Donec semper suscipit odio, hendrerit sollicitudin orci ullamcorper a. Integer ornare est sed velit consectetur, fringilla tempor urna auctor. Aliquam lobortis imperdiet leo eget tincidunt. Cras blandit dapibus urna, quis commodo eros semper ut. Fusce tempus odio non commodo faucibus. Nam mattis faucibus tellus, a cursus neque accumsan fringilla. Curabitur sagittis ex vel tincidunt fermentum. Cras congue augue non gravida varius. Maecenas tincidunt dapibus elit id vulputate. Integer fermentum in risus eu tincidunt. Phasellus metus libero, elementum non rhoncus at, condimentum sed est.</p>
        <a class="btn btn-primary btn-block">Read More</a>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="post">
      <img src='img/rails1.jpg'>
      <div class="post-content">
        <h3>Lorem Ipsum</h3>
        <small>Posted by Matt on October 24, 2014</small>
        <p>Praesent ut diam dolor. Nunc ornare id velit non sodales. Fusce volutpat ante ac interdum dignissim. Morbi id lorem dignissim libero egestas dignissim vel et ex. Donec interdum metus ipsum, a lobortis dui pharetra ut. Donec eleifend posuere nisl, sed vestibulum diam suscipit vitae. Nunc dignissim est eros, ac ornare felis sagittis vel. Nunc fringilla vestibulum volutpat. Vestibulum sagittis tempor mi, vel molestie elit interdum quis. Nulla non dignissim nibh. Suspendisse eget fringilla dolor. Sed in massa ultrices dui pellentesque consectetur sit amet ac tortor. Mauris sit amet cursus sem.</p>
        <a class="btn btn-primary btn-block">Read More</a>
      </div>
    </div>
  </div>
</div>
